<!DOCTYPE html>

<head>
    <style>
        .oval-div {
        width: 200px; /* Adjust as needed */
        height: 100px; /* Adjust as needed */
        background-color: #FAD961; /* Example color */
        border-radius: 50px; /* This value might need adjustment depending on size of div */
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2); /* Example shadow effect */
        margin: 10px; /* Space between the ovals */
}

    </style>
</head>
<body>
    <div class="oval-div">
    <p class="p-title">ที่โปรดเเสนท้อ</p>
    </div>
    
    <div class="oval-div">
    <p class="p-description">หมดไฟวะ</p>
    </div>
</body>